@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Comfortaa&family=Peralta&family=Rancho&family=Rock+Salt&display=swap');
/* Gave myself a LOT of font options. Rock Salt looks good, but the spacing is a little strange. */

:root {
    --primary-color: #7ca29e;
    --secondary-color: #70ffd2;
    --tertiary-color: #052f5f;
    --accent1-color: #f0a868;
    --accent2-color: #88cc7b;
    --heading-font: peralta, helvetica;
    --paragraph-font: Comfortaa, verdana;
    --nav-background-color: #052f5f;
    --nav-link-color: #70ffd2;
    --nav-hover-link-color: #88cc7b;
    --nav-hover-background-color: #5c2e10;

}

body{
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding:20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color:var(--tertiary-color);
}

header{
    background-color: var(--primary-color);
    padding:5px;
}

p{padding:2px;}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.3em;
}
nav a{
    display:inline-flex;
    color: var(--nav-link-color);
    padding:2px;
    }

nav a:link{
    color:var(--nav-hover-link-color)
}
nav a:visited{
    color:var(--secondary-color)
}

nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


