@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Comfortaa&family=Peralta&family=Rancho&family=Rock+Salt&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 840px;
    }

a{
    color:aliceblue;
}
nav{
    display:flex;
    background-color: steelblue;
    padding:10px
    justify-content: space-around;
    align-items: center;
}


nav a{
        display:block;
    padding:20px;
    text-decoration: none;
    font-family:"comfortaa",Arial, Helvetica, sans-serif;
    color:whitesmoke;
    font-weight: 550;
    font-size:1.2em;
}

h1{color:steelblue;
    border-bottom: steelblue 2px solid;
    padding-top: .5em;
    padding-bottom: .3em;
}

header .grid footer {
    max-width: 840px;
    margin:0 auto;
    }

image{
    width:150px;
    height:auto;
    border: 1px steelblue solid;
    padding: 2px;
    box-shadow:0 0 30px gray
}

p{ padding:10px
}



aside{
    margin:4px;
    border:dotted 1px #9D8DF1;
    background-color: #9bc1bc;
    color: #393939;
    padding: 3px;
}

aside img{
    width:200px;
    height:auto;
    border:#393939 solid 1px
}

p{padding:0}

main img{
    width:150px;
    height:auto;
    float:right;
   
}

 




/* Class Selectors*/
.grid {
    display:grid;
        justify-content: space-around;
    max-width: 840px;
    column-gap: 3em;
    grid-template-rows: auto 1fr auto;
}

.box{
    margin:1em;
    padding :1em;
    color:whitesmoke;
    background-color: #5C5463;
    border:solid 1px #9DC0BC;
    clear:both;
}

aside{
    text-align: right;
    width:300px;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main{
    grid-column: 2 / 3;
}

footer{
    border-top: dotted 1px #9d8df1;
color: #393939;
margin: 2px;
background-color:#9bc1bc;
grid-column: 1 / -1; /* Make the footer span across all columns */
   text-align: center;  
 
}

aside h2{
    position:absolute;
    width:200px;
    }

.social-media{
    width:24px;
    height:24px;
}
