*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color: steelblue;
    padding:10px
}

nav a{color:white;
display:block;
padding:20px
}

h1{color:steelblue}

image{
    width:150px;
    height:auto;
    border: 1px steelblue solid;
    padding: 2px;
    box-shadow:0 0 30px gray
}

p{ padding:10px
}

main{
    max-width:800px;
}

aside{
    margin:4px;
    border:dotted 1px #9D8DF1;
    background-color: #9bc1bc;
    color: #393939;
    padding: 3px;
}

aside img{
    width:200px;
    height:auto;
    border:#393939 solid 1px
}

p{padding:0}

main img{
    width:150px;
    height:auto;
    float:right;
}

footer{
    border-top:dotted 1px #9d8df1;
    color: #393939;
    margin: 2px;
    background-color:#9bc1bc;
    text-align: center;
}
/* Class Selectors*/

.box{
    margin:1em;
    padding :1em;
    color:whitesmoke;
    background-color: #5C5463;
    border:solid 1px #9DC0BC;
}

aside{
    text-align: right;
    width:300px;
    position: relative;

}
:link{
    color:#88ff80;
}

:visited{
    color:#94ffff;
}

aside h2{
    position:absolute;
    width:200px;
    }

.social-media{
    width:24px;
    height:24px;
}
